.vscode
Arduino-due/.travis.yml
Arduino-due/include/README
Arduino-due/lib/README
Arduino-due/test/README
Arduino-due-test/.travis.yml
Arduino-due-test/test/README
Arduino-due-test/lib/usbhost/README
PythonControl/python_env/*

docs/latex/Capitulo1/*
docs/latex/Capitulo2/*
docs/latex/Capitulo3/*
docs/latex/Capitulo4/*
docs/latex/Capitulo5/*
docs/latex/Capitulo6/*
docs/latex/Capitulo7/*
docs/latex/Capitulo1/*
docs/latex/CapituloEstilo/*
docs/latex/CapituloLibroETSI/*
docs/latex/CapituloProblemasLibroETSI/*
docs/latex/introduccion/*
*.aux
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.synctex.gz
*.thm
*.tmp
*.toc
*.acn

